<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
            <%= image_tag('login', class: "img-fluid")%>
						<div class="hover">
							<h4>Back to your Account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
              <%= link_to "Back", :back, class:"primary-btn"%>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Edit your Account</h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "row login_form", method: :put}) do |f| %>
							  <%= render "devise/shared/error_messages", resource: resource %>
              <div class="col-md-12 form-group">
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" , placeholder: "Username", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Username'" %>
              </div>
              <div class="col-md-12 form-group">
                <%= f.email_field :email, autocomplete: "email", class: "form-control" , placeholder: "E-Mail", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'E-Mail'"%>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="col-md-12 form-group">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" , placeholder: "New Password", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'New Password'" %>
              </div>
              <div class="col-md-12 form-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" , placeholder: "New Password", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'New Password'" %>
              </div>
              <div class="col-md-12 form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" , placeholder: "Current Password", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'Current Password'" %>
              </div>
              <div class="col-md-12 form-group">
                <%= f.submit "Update Account", class: "primary-btn" %>
              </div>
						<% end %>
                <h3>Cancel my account</h3>
                <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "primary-btn" %></div> 
					</div>
				</div>
			</div>
		</div>
	</section>