<div id="notice"><%= notice %></div>

<section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @products.each do |product|%>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                        </div>
                                        <div class="media-body">
                                            <p><%= product.title %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$<%= product.price %></h5>
                                </td>
                                <td>
                                    <h5><%= product.quantity %></h5>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                          <% end %>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                        <%= link_to 'New Product', new_product_path, class: "primary-btn" %> 
                                    </div>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <%= link_to 'Edit Shop', edit_store_path(@store), class: "primary-btn" %> 
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

