<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Orders' History</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Orders' History</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================History Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <h1>Orders </h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order Number</th>
              <th scope="col">Order Status</th>
              <th scope="col">Total Price</th>
              <th scope="col">Order Date</th>
              <th scope="col">Confirmation Date</th>
              <th scope="col">Deliverable Date</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <% if order.state != "cart" %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="img/cart.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <p><%= order.id %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5><%= order.state %></h5>
              </td>
              <td>
                <h5><%= order.total_price %></h5>

              </td>
              <td>
                <h5><%= order.order_date %></h5>
              </td>
              <td>
                <h5><%= order.confirmation_date %></h5>
              </td>
              <td>
                <h5><%= order.deliverable_date %></h5>
              </td>
              <td><%= link_to 'Show', order %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
<!--================End Cart Area =================-->