<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Orders' History</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Orders' History</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================History Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <% @orders.each do |order| %>
      <h1>Order Number : <%= order.id %> </h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order Number</th>
              <th scope="col">Order Status</th>
              <th scope="col">Total Price</th>
              <th scope="col">Order Date</th>
              <th scope="col">Confirmation Date</th>
              <th scope="col">Deliverable Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="img/cart.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <p><%= order.products.ids %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5><%= order.products.ids %></h5>
              </td>
              <td>
                <div class="product_count">
                  <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                    class="input-text qty">
                  <button
                    onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                    class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                  <button
                    onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                    class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                </div>
              </td>
              <td>
                <h5><%= order.products.ids %></h5>
              </td>
              <td>
                <%= image_tag("/assets/delete.png", :style => "width:40px;height:30px;") %>
              </td>
            </tr>

            <tr class="bottom_button">
              <td>
                <a class="gray_btn" href="#">Update Cart</a>
              </td>
              <td></td>
              <td></td>

              <td>
                <div class="cupon_text d-flex align-items-center">
                  <input type="text" placeholder="Coupon Code">
                  <a class="primary-btn" href="#">Apply</a>
                  <a class="gray_btn" href="#">Close Coupon</a>
                </div>
              </td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>

              <td>
                <h5>Subtotal</h5>
              </td>
              <td></td>

              <td>
                <h5><%= @sum %></h5>
              </td>
            </tr>

            <tr class="shipping_area">
              <td></td>
              <td></td>

              <td>
                <h5>Shipping</h5>
              </td>
              <td></td>

              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                  </ul>
                  <a class="gray_btn" href="#">Update Details</a>
                </div>
              </td>
            </tr>

            <tr class="shipping_area">
              <td></td>
              <td></td>

              <td>
                <h5>Address</h5>
              </td>
              <td></td>

              <td>
                <div class="shipping_box">
                  <textarea rows="4" col="50"></textarea>
                  <a class="gray_btn" href="#">Update Details</a>
                </div>
              </td>
            </tr>

            <tr class="out_button_area">
              <td></td>
              <td></td>
              <td></td>

              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <a>
                    <%= link_to 'Continue Shopping', products_path, class:"gray_btn" %>
                  </a>
                  <a class="primary-btn" href="#">Proceed to checkout</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>

    </div>
  </div>
</section>
<!--================End Cart Area =================-->

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @order.coupon %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Confirmation date:</strong>
  <%= @order.confirmation_date %>
</p>

<p>
  <strong>Deliverable date:</strong>
  <%= @order.deliverable_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Total price after discount:</strong>
  <%= @order.total_price_after_discount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>