<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
	<%= render 'layouts/header' %>

	<%= render 'layouts/banner' %>

	<%= render 'layouts/features' %>
	
	<%= yield %>

	<!-- Start category Area -->
		<!-- Deleted -->
	<!-- End category Area -->

	<%= render 'layouts/brand' %>

	<%= render 'layouts/footer' %>

  	<!-- Start Header Area -->
	
    <%= javascript_include_tag 'js/vendor/jquery-2.2.4.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/vendor/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.ajaxchimp.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.sticky.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/nouislider.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/countdown.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.magnific-popup.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/gmaps.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/main.js', 'data-turbolinks-track': 'reload' %>
  
  </body>
</html>
