<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/styles' %>
  </head>

  <body>
    
    <div class="super_container">
      <%= render 'layouts/header' %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <%= render 'layouts/scripts' %>
  </body>
</html>
